# Binaries
*.exe
*.exe~
*.dll
*.so
*.dylib
/ystore
ystore-encode
ystore-decode

# Test binary
*.test

# Output directories
tmp/
out/
dist/
releases/

# IDE
.idea/
.vscode/
*.swp
*.swo
*~

# macOS
.DS_Store

# Go
vendor/
demo.mp4
demo_5s.mp4
